*{
    user-select: none;
    -webkit-user-drag: none;
}



body{
    margin: 0;
    padding: 0;
    border: 0;

    background-color: black;

    overflow-x: hidden;
}



#header1{
    width: 100vw;
    height: 20vh;

    min-width: 600px;
    min-height: 130px;

    z-index: 0;
    background-color: black;

    border-bottom: 8px double rgb(30, 30, 30);
}



#header1Bg{
    position: absolute;

    width: inherit;
    height: inherit;
    min-height: inherit;

    z-index: 1;
    background-color: white;
    overflow: hidden;
}

#header1Img{
    position: inherit;

    width: inherit;
    height: inherit;
    min-height: inherit;
    
    z-index: 2;
    background-image: url("https://i.gifer.com/2MdY.gif");
    filter: blur(18px) brightness(1.5) contrast(1.5) saturate(0%) hue-rotate(-40deg);
}

#header1ImgDarken{
    position: inherit;

    width: inherit;
    height: inherit;
    min-height: inherit;
    
    z-index: 3;
    background-color: rgba(13, 0, 0, .95);
}





#header2{
    display: flex;
    align-items: center;

    position: relative;
    margin-left: auto;
    margin-right: auto;

    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    width: 97.5%;
    height: 75%;

    z-index: 4;
    background-color: transparent;
    border-radius: 18px;
}



#header2Bg{
    position: absolute;

    width: 100%;
    height: 100%;

    z-index: 5;
    background-color: white;
    overflow: hidden;
    border-radius: inherit;
}

#header2Img{
    position: inherit;

    width: inherit;
    height: inherit;
    
    z-index: 6;
    background-image: url("https://i.gifer.com/2MdY.gif");
    filter: blur(18px) brightness(1.5) contrast(1.5) saturate(0%) hue-rotate(80deg);
}

#header2ImgDarken{
    position: inherit;

    width: inherit;
    height: inherit;
    
    z-index: 7;
    background-color: rgba(13, 0, 0, .9);
}





#logo{
    height: 9vh;
    min-height: 60px;

    margin-left: 24px;
    margin-right: 24px;

    z-index: 8;
}

#titlu{
    font-family: "Rajdhani";
    font-size: 54px;
    color: white;
    font-weight: 600;

    z-index: 8;
}



#menu-options{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin-left: auto;
    margin-right: auto;

    width: 50%;
    height: 50%;

    z-index: 8;
    background-color: transparent;
}

#menu-options button{
    font-family: "Rajdhani";
    font-size: calc(14px + 1.35vw);
    font-weight: 500;

    color: rgb(174, 174, 174);
    background-color: transparent;

    padding-left: 1vw;
    padding-right: 1vw;

    border: 0;

    transition: color .3s;
}

#menu-options button:hover{
    color: white;
}



#login-options{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

    margin-right: 24px;

    width: 30%;
    height: 50%;

    z-index: 8;
    background-color: transparent;
}

#login-options button{
    font-family: "Rajdhani";
    font-size: calc(6px + 1.2vw);
    font-weight: 500;

    color: black;
    background-color: white;

    padding-left: 1vw;
    padding-right: 1vw;
    margin-right: 18px;

    border: 0;
    border-radius: 12px;

    transition: color .3s;
    transition: background-color .3s;
}

#login-options button:hover{
    color: white;
    border-bottom: 5px solid rgb(70, 70, 70);
    background-color: rgb(29, 29, 29);
}



#profile{
    width: 8vw;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    min-width: fit-content;
    margin-right: 18px;

    pointer-events: none;
}

#profile-picture{
    height: 6vh;
    min-height: 40px;

    margin-right: 14px;

    z-index: 8;
}

#profile-name{
    font-family: "Rajdhani";
    font-size: calc(4px + 1vw);
    font-weight: 400;

    color: white;
}





main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column;

    width: 100%;
    height: 2000px;
    background-color: black;
    margin-top: 1px;
}





@keyframes hue-shift {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
#artists{
    width: 80%;
    height: 600px;

    margin-top: 128px;

    background-image: linear-gradient(to right, red, green);
    border-radius: 36px;

    animation-name: hue-shift;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;

    overflow: hidden;
}
#artists-darken{
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: black;
    border-radius: 36px;

    opacity: 0;
    transition: opacity 0.5s;
}

#artist1{
    position: absolute;
    width: 600px;
    height: 100%;
    left: 100px;
    z-index: 1;
    filter: saturate(200%) brightness(50%) contrast(600%) drop-shadow(0px 0px 18px rgba(255, 225, 128, 0.5));

    transition: transform 0.5s, filter 0.5s;
}
#artist1-desc{
    position: absolute;
    width: 800px;
    height: 80%;
    left: 500px;
    z-index: 5;

    font-family: "Rajdhani";
    font-size: calc(6px + 1.3vw);
    font-weight: 400;
    text-align: justify;

    padding: 36px;
    padding-top: 24px;

    color: white;
    background: linear-gradient(black, 85%, transparent);

    border: 0;
    border-radius: 24px;

    filter: drop-shadow(0px 0px 24px black);

    transform: scale(100%, 0%);

    transition: transform 0.3s;

    pointer-events: none;
}
#artists:has(> #artist1:hover) #artist1-desc{
    transform: scale(100%, 100%);
}

#artist2{
    position: absolute;
    width: 650px;
    height: 120%;
    left: 450px;
    bottom: -100px;
    z-index: 2;
    filter: saturate(200%) brightness(50%) contrast(600%) drop-shadow(0px 0px 18px rgba(255, 225, 128, 0.5));

    transition: transform 0.5s, filter 0.5s;
}
#artist2-desc{
    position: absolute;
    width: 650px;
    height: 80%;
    left: 900px;
    z-index: 5;

    font-family: "Rajdhani";
    font-size: calc(6px + 1.3vw);
    font-weight: 400;
    text-align: justify;

    padding: 36px;
    padding-top: 24px;

    color: white;
    background: linear-gradient(black, 85%, transparent);

    border: 0;
    border-radius: 24px;

    filter: drop-shadow(0px 0px 24px black);

    transform-origin: top;
    transform: scale(100%, 0%);

    transition: transform 0.2s;

    pointer-events: none;
}
#artists:has(> #artist2:hover) #artist2-desc{
    transform: scale(100%, 100%);
}

#artist3{
    position: absolute;
    width: 550px;
    height: 110%;
    left: 950px;
    bottom: -50px;
    z-index: 3;
    filter: saturate(200%) brightness(50%) contrast(200%) drop-shadow(0px 0px 18px rgba(255, 225, 128, 0.5));

    transition: transform 0.5s, filter 0.5s;
}
#artist3-desc{
    position: absolute;
    width: 850px;
    height: 80%;
    left: 60px;
    z-index: 5;

    font-family: "Rajdhani";
    font-size: calc(6px + 1.3vw);
    font-weight: 400;
    text-align: justify;

    padding: 36px;
    padding-top: 24px;

    color: white;
    background: linear-gradient(black, 85%, transparent);

    border: 0;
    border-radius: 24px;

    filter: drop-shadow(0px 0px 24px black);

    transform-origin: right;
    transform: scale(0%, 100%);

    transition: transform 0.2s;

    pointer-events: none;
}
#artists:has(> #artist3:hover) #artist3-desc{
    transform: scale(100%, 100%);
}

#artists img:hover{
    transform: scale(110%);
    filter: saturate(100%) brightness(100%) contrast(100%) drop-shadow(0px 0px 18px rgba(0, 0, 0, 1));
}

#artists:has(> img:hover) #artists-darken{
    opacity: 0.7;
}

.bold{
    font-weight: 700;
}





@keyframes hue-shift1 {
    0%{
        filter: hue-rotate(180deg);
    }
    100%{
        filter: hue-rotate(540deg);
    }
}
#record-labels{
    width: 80%;
    height: 600px;

    margin-top: 128px;

    background-image: linear-gradient(to right, red, green);
    border-radius: 36px;

    animation-name: hue-shift1;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;

    overflow: hidden;
}
#rl-darken{
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: black;
    border-radius: 36px;

    opacity: 0;
    transition: opacity 0.5s;
}

#rl1{
    position: absolute;
    width: 500px;
    left: 100px;
    z-index: 1;
    filter: saturate(200%) brightness(50%) contrast(600%) drop-shadow(0px 0px 18px rgba(255, 225, 128, 0.5));

    transition: transform 0.5s, filter 0.5s;
}
#rl1-desc{
    position: absolute;
    width: 900px;
    height: 80%;
    left: 600px;
    z-index: 5;

    font-family: "Rajdhani";
    font-size: calc(6px + 0.85vw);
    font-weight: 400;
    text-align: justify;

    padding: 36px;
    padding-top: 24px;

    color: white;
    background: linear-gradient(black, 85%, transparent);

    border: 0;
    border-radius: 24px;

    filter: drop-shadow(0px 0px 24px black);

    transform-origin: left;
    transform: scale(0%, 100%);

    transition: transform 0.2s;

    pointer-events: none;
}
#record-labels:has(> #rl1:hover) #rl1-desc{
    transform: scale(100%, 100%);
}

#rl2{
    position: absolute;
    width: 700px;
    left: 400px;
    top: 100px;
    z-index: 2;
    filter: saturate(200%) brightness(50%) contrast(600%) drop-shadow(0px 0px 18px rgba(255, 225, 128, 0.5));

    transition: transform 0.5s, filter 0.5s;
}
#rl2-desc{
    position: absolute;
    width: 90%;
    height: 150px;
    left: 50%;
    top: 370px;
    z-index: 5;

    font-family: "Rajdhani";
    font-size: calc(6px + 0.6vw);
    font-weight: 400;
    text-align: justify;

    padding: 36px;
    padding-top: 24px;

    color: white;
    background: linear-gradient(black, 85%, transparent);

    border: 0;
    border-radius: 24px;

    filter: drop-shadow(0px 0px 24px black);

    transform-origin: top;
    transform: translateX(-50%) scale(100%, 0%);

    transition: transform 0.2s;

    pointer-events: none;
}
#record-labels:has(> #rl2:hover) #rl2-desc{
    transform: translateX(-50%) scale(100%, 100%);
}

#rl3{
    position: absolute;
    width: 500px;
    left: 1050px;
    z-index: 3;
    filter: saturate(200%) brightness(50%) contrast(200%) drop-shadow(0px 0px 18px rgba(255, 225, 128, 0.5));

    transition: transform 0.5s, filter 0.5s;
}
#rl3-desc{
    position: absolute;
    width: 850px;
    height: 80%;
    left: 60px;
    z-index: 5;

    font-family: "Rajdhani";
    font-size: calc(6px + 1vw);
    font-weight: 400;
    text-align: justify;

    padding: 36px;
    padding-top: 24px;

    color: white;
    background: linear-gradient(black, 85%, transparent);

    border: 0;
    border-radius: 24px;

    filter: drop-shadow(0px 0px 24px black);

    transform-origin: right;
    transform: scale(0%, 100%);

    transition: transform 0.2s;

    pointer-events: none;
}
#record-labels:has(> #rl3:hover) #rl3-desc{
    transform: scale(100%, 100%);
}

#record-labels img:hover{
    transform: scale(110%);
    filter: saturate(100%) brightness(100%) contrast(100%) drop-shadow(0px 0px 18px rgba(0, 0, 0, 1));
    z-index: 4;
}
#rl2:hover{
    transform: scale(110%) translateY(-50px) !important;
}

#record-labels:has(> img:hover) #rl-darken{
    opacity: 0.7;
}