*{
    user-select: none;
    -webkit-user-drag: none;

    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: rgb(24, 24, 24);
    overflow-x: hidden;
}



header{
    display: flex;

    align-items: center;

    width: 100%;
    height: 100px;

    background: rgb(18, 18, 18);
}

#search-bar{
    width: calc(360px + 6vw);
    height: 40%;

    margin-left: calc(12px + 2%);

    border: 2px solid rgb(120, 120, 120);
    border-right: 0;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;

    padding-left: 12px;
    padding-right: 12px;

    box-sizing: border-box;
    outline: none;

    font-size: 16px;
    color: rgb(180, 180, 180);

    background-color: rgb(30, 30, 30);
}

#search-button{
    display: flex;

    align-items: center;
    justify-content: center;

    position: relative;

    width: 54px;
    height: 40%;

    border: 2px solid rgb(120, 120, 120);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;

    font-size: 18px;

    background-color: rgb(90, 90, 90);

    cursor: pointer;
}
#search-button:hover{
    background-color: rgb(100, 100, 100);
}

#mag-glass1{
    width: 50%;
    margin-right: 6px;

    filter: brightness(15%);
    transform: scale(105%);

    z-index: 2;

    pointer-events: none;
}

#mag-glass2{
    position: absolute;

    width: 50%;
    margin-right: 8px;
    margin-bottom: 3px;

    filter: brightness(50%);

    z-index: 1;

    pointer-events: none;
}



main{
    display: inline-flex;
    flex-direction: column;

    width: 100%;

    background: rgb(24, 24, 24);
}



#genres{
    display: grid;
    grid-auto-flow: row;
    
    width: 100%;
}

.genre{
    aspect-ratio: 1/1;
    transform: scale(75%);

    background: linear-gradient(35deg, red, 60%, green);
    border-radius: 38px;

    transition: transform 0.5s;

    overflow: hidden;
    cursor: pointer;
}
.genre:hover{
    transform: scale(80%);
}

.genre p{
    font-family: 'Rajdhani';
    font-size: 64px;
    font-weight: 600;

    color: white;
    margin-left: calc(12px + 20px);
    margin-top: 20px;

    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.4));

    pointer-events: none;
}

.genre img{
    position: absolute;

    width: 95%;

    top: 60px;
    left: 150px;
}
.genre:nth-child(3) img{
    width: 90%;
    top: 150px;
    left: 170px;
}
.genre:nth-child(4) img{
    width: 100%;
    top: 90px;
    left: 100px;
}
.genre:nth-child(8) img{
    width: 90%;
    top: 100px;
    left: 170px;
}
.genre:nth-child(9) img{
    top: 120px;
}
.genre:nth-child(10) img{
    width: 80%;
    top: 110px;
}

#copyright{
    width: 90%;
    height: 280px;

    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;

    border-top: 2px solid rgb(32, 32, 32);
}

#copyright p{
    margin-left: 48px;
    margin-top: 36px;
    color: gray;

    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 16px;
}